/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: 'Outrun future';
	font-style: normal;
	font-weight: normal;
	src: local('Outrun future'), url('../fonts/Outrun future.woff') format('woff');
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;	
	src: local('Montserrat'), local('Montserrat-Regular'), url('../fonts/montserrat.woff2') format('woff2'), url('../fonts/montserrat.woff') format('woff'), url('../fonts/montserrat.ttf') format('truetype');
}

body{
	font-family: 'Outrun future';
	background-color: black;
}
.bg_top{
	position: relative;
}
.hamburger {
	display: none;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}
.nav-menu{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 135px;
	width: 600px;
	display: flex;
	justify-content: space-around;
}
.nav-link{
	font-size: 24px;
	color: #ffffff;
}
.nav-link:hover{
	color: yellow;
}
.nav-item{
	padding: 0 5px 5px 10px; 
}
.nav-item:hover{
	background: url(../img/Hover_menu.png) 50%/ 100% 100% no-repeat;
}
.hi_container{
	max-height: 100%;
	background: url(../img/Photo_3.png) 0 100%/ 100% 15% no-repeat, url(../img/Photo.png) 0 0/ auto 100%;
	border: 1px solid black;
}
.logo{
	margin-top: 340px;
	color: white;
	text-align: center;
	font-size: 300px;
	opacity: 0.5;
}
.title{
	margin-top: 70px;
	font-size: 52px;
	color: white;
	text-align: center;
	opacity: 0.5;
}
.button{
	display: block;
	margin: 115px auto;
	max-width: 247px;
	height: 55px;
	background: url(../img/Button.png)0 0/100% 100% no-repeat;
	text-align: center;
	padding-top: 15px;
	font-size: 18px;
	color: black;
}
.art{
	max-width: 606px;
	height: 100%;
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 36px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Montserrat";
	margin-top: 60px;
}
.med_container{
	height: 800px;
	background:  url(../img/Photo_About_us.png) 0 0/ auto 100% no-repeat;
	border: 1px solid black;
}
.cards{
	display: flex;
	max-width: 1410px;
	justify-content: space-between;
	margin: 70px auto;
}
.l_card{
	position: relative;
	width: 725px;
}
.pict1{
	position: absolute;
	left: 105px;
}
.pict2{
	position: absolute;
	top: 245px;
}
.photo{
	width: 100%;
}
.r_card{
	max-width: 571px;
	margin: 130px 0 0 20px;
}
.about{
	font-size: 24px;
	line-height: 30px;
	color: #95a7ff;
	margin-bottom: 40px;
}
.title1{
	color: white;
	font-size: 60px;
}
.l_med_container{
	height: 867px;
	background:  url(../img/Photo_1.png) 0 0/ auto 100%;
	border: 1px solid black;
}
.c_card{
	max-width: 570px;
	text-align: center;
	margin: 230px auto;
}
.sliders{
	max-width: 1575px;
	margin: 240px auto;
	display: flex;
	justify-content: center;
	padding: 20px;
}
.pict6{
	border: 10px solid #ff443c	;
}
.slider{
	flex: 0 1 50%;
	width: 100%;
}
.low_container{
	height: 910px;
	background: url(../img/Photo_3.png) 0 100%/ 100% auto no-repeat,  url(../img/Photo_2.png) 0 0/ auto 100%;
	border: 1px solid black;
}
.title2{
	margin-top: 190px;
	font-size: 60px;
	color: #ff443c;
	text-align: center;
}
.low_btn{
	color: #ff443c;
}
.footer{
	position: relative;
}
.f_container{
	max-width: 200px;
	max-height: 50px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 100px;
}
.content{
	font-size: 18px;
	line-height: 30px;
	color: #313131;
	text-align: center;
}
@media (max-width: 1200px){
	body{
		max-width: 1200px;
	}
	.hi_container{
		max-height: 70%;
		}
	.nav-menu{
		margin-top: 85px;
	}
	.logo{
		font-size: 200px;
		margin-top: 200px;
	}
	.button{
		margin: 70px auto;
	}
	.med_container{
		height: 550px;
	}
	.cards{
		margin: 50px auto;
	}
	.l_card{
		width: 700px;
	}
	.pict1{
		position: absolute;
		left: 85px;
	}
	.pict2{
		position: absolute;
		top: 165px;
		max-width: 80%;
	}
	.photo{
		width: 90%;
	}
	.r_card{
		max-width: 571px;
		margin: 100px 0 0 20px;
	}
	.title1{
		font-size: 50px;
	}
	.l_med_container{
		height: 567px;
	}
	.c_card{
	max-width: 450px;
	margin: 130px auto;
}
.sliders{
	max-width: 875px;
	margin: 130px auto;
}
.slider{
	flex: 0 1 50%;
	width: 100%;
	}
	.low_container{
		height: 610px;
	}
	.f_container{
		bottom: 50px;
	}
}
@media (max-width: 990px){
	body{
		max-width: 990px;
	}
	.hi_container{
		max-height: 50%;
	}
	.nav-menu{
		margin-top: 45px;
	}
	.logo{
		font-size: 100px;
		margin-top: 100px;
	}
	.title{
		margin-top: 40px;
		font-size: 32px;
	}
	.button{
		margin: 50px auto;
		max-width: 150px;
		height: 35px;
		padding-top: 7px;
	}
	.med_container{
		height: 320px;
	}
	.cards{
		margin: 30px auto;
		max-width: 650px;
	}
	.l_card{
		width: 500px;
	}
	.pict1{
		position: absolute;
		left: 65px;
	}
	.pict2{
		position: absolute;
		top: 90px;
		max-width: 70%;
	}
	.photo{
		width: 70%;
	}
	.r_card{
		max-width: 280px;
		margin: 30px 0 0 20px;
	}
	.about{
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 20px;
	}
	.title1{
		font-size: 20px;
	}
	.art{
		max-width: 100%;
		height: 100%;
		font-size: 11px;
		letter-spacing: 0px;
		line-height: 15px;
		margin-top: 30px;
	}
	.l_med_container{
		height: 350px;
	}
	.c_card{
		max-width: 350px;
		margin: 60px auto;
	}
	.sliders{
		max-width: 675px;
		margin: 100px auto;
	}
	.slider{
		flex: 0 1 50%;
		width: 100%;
	}
	.low_container{
		height: 350px;
	}
	.title2{
		margin-top: 100px;
		font-size: 30px;
	}
	.f_container{
		max-width: 130px;
		max-height: 30px;
		bottom: 30px;
	}
	.content{
		font-size: 10px;
		line-height: 20px;
	}
}
@media (max-width: 768px){
	body{
		max-width: none;
		margin: 0 auto;
	}
	.nav-menu{
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: grey;
		width: 50%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		z-index: 3;
	}
	.nav-menu.active{
		left: 50%;
	}
	.nav-item{
		margin: 2.5rem 0;
	}
	.hamburger{
		position: fixed;
		right: 30px;
		top: 15px;
		display: block;
		cursor: pointer;
		color: yellow;
	}
	.hamburger.active .bar:nth-child(2){
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.hi_container{
		max-height: 30%;
	}
	.logo{
		font-size: 70px;
		margin-top: 70px;
	}
	.title{
		margin-top: 20px;
		font-size: 20px;
	}
	.button{
		margin: 50px auto;
		max-width: 150px;
		height: 35px;
		padding-top: 7px;
	}
	.med_container{
		height: 230px;
	}
	.cards{
		margin: 10px auto;
		max-width: 650px;
	}
	.l_card{
		display: none;
	}
	.r_card{
		max-width: 370px;
		margin: 10px auto;
	}
	.art{
		font-size: 10px;
		word-spacing: 3px;
		margin-top: 15px;
	}
	.l_med_container{
		max-height: 270px;
	}
	.c_card{
		max-width: 300px;
		margin: 55px auto;
	}
	.sliders{
		margin: 30px auto;
	}
	.low_container{
		height: 300px;
	}
	.title2{
		font-size: 20px;
	}
	.f_container{
		bottom: 20px;
	}
	.content{
		line-height: 10px;
	}
}